@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .input {
    @apply bg-white border-black border shadow-sm rounded-md px-2 py-1.5 font-palanquin focus:outline-none focus:border-green-300 focus:ring-1 focus:ring-green-300
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;
  }

  .button {
    @apply border rounded-3xl py-2 w-full font-montserrat;
  }

  .btn-green {
    @apply text-[#04364A] bg-green-300 hover:bg-green-400;
  }

  .btn-white {
    @apply border-black text-slate-500 hover:bg-slate-200;
  }

  .footer-link {
    @apply hover:text-pink px-6;
  }

  .main-container {
    @apply flex flex-col items-center justify-center h-full w-full overflow-auto;
  }
}
